.footer {
  padding: 100px 20px;
  background-image: linear-gradient(
    60deg,
    rgb(20, 19, 20),
    rgba(30, 30, 32, 0.952),
    rgba(24, 24, 26, 0.932)
  );
  color: #fff;
  margin-top: 100px;
}
.footer .top-footer {
  border-bottom: 1px solid gray;
}
.footer ul {
  display: block;
  margin-left: -35px;
}
.footer ul li {
  list-style-type: none;
  font-size: 16px;
  line-height: 2;
}
.footer ul li a:hover {
  text-decoration: none;
  color: rgb(253, 228, 0);
}

.footer ul li a {
  color: #fff;
}
.footer ul li i {
  margin-right: 10px;
}
.linkdin {
  color: #0e76a8;
}
.github {
  color: #ece9e2;
}
.twitter {
  color: #0084b4;
}
.facebook {
  color: #3b5998;
}
.youtube {
  color: #ff0000;
}
.location {
  color: rgb(253, 228, 0);
}
.email {
  color: rgb(6, 104, 35);
}
.phone {
  color: rgb(252, 59, 149);
}
