.homeBg {
  background-image: url("https://cdn.pixabay.com/photo/2021/01/15/17/01/green-5919790__340.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  /* border-radius: 0px 0px 200px 0px;
  padding: 0px 0px 100px 0px; */
  position: relative;
  top: 0;
  z-index: 100;
}
.homeMain {
  background: #fff;
}

/* Home Services Css*/
.services .card {
  text-align: center;
  height: 300px;
  margin-top: 70px;
  background-color: rgba(230, 255, 220, 0.384);
  border-radius: 10px;
  transition: 1s;
}

.services .card:hover {
  background-color: rgb(3, 127, 136);
  color: #fff;
}
.services .card ul li {
  list-style-type: none;
  text-align: left;
}
.home-services .card {
  background-color: rgb(242, 245, 243);
}
.services .brand-icon {
  position: absolute;
  top: -50px;
  font-size: 50px;
  background-color: rgb(36, 58, 43);
  width: 100px;
  left: 38%;
  border-radius: 10px;
  color: white;
}
.home-services-title {
  color: #fff;
}
.services .service-title {
  padding-top: 20px;
}
.section-title {
  margin-top: 50px;
  margin-bottom: 100px;
}
.section-title a {
  text-decoration: none;
  color: #fff;
}
.section-title .badge {
  transition: 0.5s;
}
.section-title .badge:hover {
  background-color: rgba(24, 68, 6, 0.952);
}

/* Home Skill CSS */
.home-skill {
  margin: 20px;
}
.skill {
  margin-top: 30px;
}

/* Recent Project CSS */
.recent-projects {
  background-color: rgb(214, 216, 213);
}

/* Home About CSS */
.home-about {
  background-color: rgba(232, 235, 230, 0.555);
}

.path-title {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
.path-line {
  height: 3px;
  width: 50%;
  background-color: rgb(143, 194, 146);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.path-line span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(143, 194, 146);
}
.path-name span {
  color: orange;
}
.resume-donwload {
  color: black;
}

/*-------- Blog Post ---------*/
.blog-header {
  height: 200px;
  overflow: hidden;
}
.blog-header img {
  height: 100%;
}

.home-blog-header {
  height: 300px;
  overflow: hidden;
}
.home-blog-header img {
  height: 100%;
}
.blog-title {
  color: rgb(0, 110, 161);
  font-size: 18px;
}
.home-blog .blog-title {
  font-size: 18px;
}
.blog-box {
  transition: 0.5s;
}
.blog-box:hover {
  cursor: pointer;
  transform: scale(0.9, 0.9);
}

.blog .card {
  margin-top: 50px;
}
.blog-sidebar {
  overflow: hidden;
  position: sticky;
  top: 100px;
  margin-top: 50px;
}

.blog-footer {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
}
.home-blog .blog-footer {
  font-size: 15px;
}
